.bottombar {
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

#bottomdatetime {
    width: auto;
    border-right: solid 1px #bbb;
    border-bottom: solid 1px #bbb;
    padding: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.bottompostlist {
    height: 5vh;
    overflow-y: scroll;
}

.bottompostlist a {
    margin-right: 10px;
    text-decoration: none;
    height: 1px;
    overflow-y: scroll;
}

.bottompostlist a:hover {
    color: #aa0;
    text-decoration: underline;
}