.newsline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    row-gap: 1rem;

    /* flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; 
    flex-direction: row;
    column-gap: 1rem;*/
}

.newsline a  {
    font-weight: bold;
    border-radius: 10px;
    width: auto;
    color: #000;
    text-decoration: none;
}

.newsline a:hover {
    color: #aa0;
    text-decoration: underline;
}

.newsline > .item {
    flex-grow: 1;
    flex-flow: wrap;
}

.text_area {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5;
    border-bottom: 1px solid #ddd;
}

.cite {
    margin-top: 30px;
    border-top: 3px double #000;
    color: #33f;
    font-style: italic !important;
}

.content {
    font-family: 'Times New Roman', Times, serif;
}

.content h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-decoration: underline;
}

.content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.content p {
    text-align: justify;
    text-indent: 30px;
}

.content p::first-letter {
    font-size: 200%;
    font-weight: bold;
}

