.footer {
    width: 450px;
    text-align: center;
    position: absolute;
    background: linear-gradient(#195cec, transparent);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
}
