@media screen and (max-width: 350px) {
    /* for screens with width less than or equal to 350px */
    
}

@media screen and (min-width: 350px) {
    /* for screens with width greater than or equal to 350px */
    .newsline {
        column-gap: 1rem;
    }

    .newsline img {
        width: 100%;
        border-radius: 20px;
    }
    
    .newsline a {
        font-size: 10px;
    }
    
    .newsline > .item {
        flex-basis: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
}

@media screen and (max-width: 450px) {
    /* for screens with width less than or equal to 450px */
    .head {
        height: 70px;
    }

    .head h1 {
        font-size: 30px;
    }

    .nav {
        height: 45px;
    }

    .nav li {
        font-size: 15px;
    }

    .footer {
        width: 280px;
        font-size: 10px;
    }
}

@media screen and (min-width: 450px) {
    /* for screens with width greater than or equal to 450px */
}

@media screen and (max-width: 650px) {
    /* for screens with width less than or equal to 650px */
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 651px) {
    /* for screens with width less than or equal to 650px */
    .bottombar {
        display: none;
    }
}

@media screen and (min-width: 650px) {
    /* for screens with width greater than or equal to 650px */
    .head {
        height: 70px;
    }

    .head h1 {
        font-size: 30px;
    }

    .nav {
        height: 45px;
    }

    .nav li {
        font-size: 15px;
    }

    .footer {
        width: 330px;
        font-size: 12px;
    }

    .newsline {
        column-gap: 3rem;
    }

    .newsline img {
        width: 100%;
        border-radius: 20px;
    }

    .newsline a {
        font-size: 10px;
    }
    
    .newsline > .item {
        flex-basis: calc(30% - 1rem);
        max-width: calc(30% - 1rem);
    }
}

@media screen and (max-width: 768px) {
    /* for screens with width less than or equal to 768px */
    
}

@media only screen and (min-width: 768px) {
    /* for screens with width greater than or equal to 768px */
    .newsline img {
        width: 100%;
        border-radius: 20px;
    }

    .newsline a {
        font-size: 10px;
    }

    .newsline > .item {
        flex-basis: calc(20% - 1rem);
        max-width: calc(20% - 1rem);
    }
    
}

@media only screen and (max-width: 1200px) {
    /* for screens with width less than or equal to 1200px */
}

@media only screen and (min-width: 1200px) {
    /* for screens with width greater than or equal to 1200px */
    .newsline {
        column-gap: 1rem;
    }

    .newsline a {
        font-size: 15px;
    }
}