header {
    display: inline;
    top: 0;
 }

.head {
    background: #195cec;
    top: 0;
    margin: 0; /* menambahkan properti margin: 0; */
    height: 90px;
}

.head h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.nav {
    height: 55px;
    background: linear-gradient(#195cec, #000);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -34px;
    position: sticky;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 20px;
    top: 0;
    z-index: 9;
}

.nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.nav ion-icon {
    margin-right: 5px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    color: #3355aa;
    text-decoration: underline;
}

.nav img {
    height: 35px;
    width: 35px;
    margin-top: -10px;
    border: 1px solid #fff;
    border-radius: 100px;
}

.navleft {
    float: left;
}

.navright {
    float: right;
    margin-top: 2px;
}

.navright img {
    float: right;
}

.userbox {
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #fff;
    color: #000;
    position: absolute;
    right: 8px;
    float: right;
    text-align: right;
    padding: 5px;
    z-index: 0;
}

.userbox ul {
    list-style-type: none;
    text-align: left;
    margin-left: -40px;
    padding-top: -20px;
    padding-bottom: -10px;
}

.userbox li {
    display: block;
    margin-top: 10px;
    color: #000;
}

.userbox li:hover {
    text-decoration: underline;
}

.userbox .separate {
    border-top: 1px solid #ddd;
}

