body {
    height: auto;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #eee;
}

.txt-black {
    color: #000 !important;
}

.txt-gray {
    color: #777 !important;
}

.txt-white {
    color: #fff !important;
}

.hide {
    display: none !important;
}

.p-10 {
    padding: 10px !important;
}

.p-lr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-lr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-lr-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.txt-justify {
    text-align: justify !important;
}

.txt-center {
    text-align: center !important;
}

.bold {
    font-weight: bold !important;
}

.italic {
    font-style: italic !important;
}

.underline {
    text-decoration: underline !important;
}
