#sidedatetime {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 5px dotted #fff;
}

.sidebar {
    padding: 5px;
    height: auto;
    width: 20vh;
    float: right;
    background: linear-gradient(to right, #000, #195cec);
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar h1 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
}

.sidebar a:hover {
    color: #ffff00;
    text-decoration: underline;
}

.sidepostlist {
    margin-top: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 5px dotted #fff;
    height: 30vh;
    overflow-y: scroll;
}

.sidepostlist ol, .sidepostlist ul {
    margin-left: -5px;
}

.sidepostlist li {
    border-bottom: 0px solid #fff;
    margin-top: 10px;
}